.message {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.messageTop {
  display: flex;
}
.messageImg {
  width: 32px;
  height: 32px;
  border-radius: 50px;
  object-fit: cover;
  margin-right: 10px;
}

.messageText {
  padding: 10px;
  background-color: #1877f2;
  color: white;
  max-width: 300px;
  border-radius: 0px 5px 5px 5px;
}
.messageText::after {
  border-width: 0px 0 20px 20px;
  border-color: transparent transparent transparent #e1ffc7;
  top: 0;
  right: -10px;
}
.messageBottom {
  font-size: 12px;
}

.message.own {
  align-items: flex-end;
}

.message.own .messageText {
  background-color: rgb(241, 234, 234);
  color: black;
  border-radius: 5px 0px 5px 5px;
}
