/** @format */

.post {
  width: 100%;
  border-radius: 10px;
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px !important;
  margin: 30px 0;
}

.postWrapper {
  padding: 20px 0px 20px 0px;
}

.postTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px 0px 20px;
}
.postDesc{
   padding: 0px 20px 0px 20px;
}

.postTopLeft {
  display: flex;
  align-items: center;
}

.postProfileImg {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.postUsername {
  font-size: 16px;
  font-weight: 500;
  margin: 0 10px;
}

.postDate {
  font-size: 12px;
}

.postCenter {
  margin: 0px 0;
}

.postImg {
  margin-top: 20px;
  width: 100%;
  max-height: 500px;
  object-fit: contain;
}

.postBottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
    padding: 20px 20px 0px 20px;
}

.postBottomLeft {
  display: flex;
  align-items: center;
}

.likeIcon {
  width: 24px;
  height: 24px;
  margin-right: 5px;
  cursor: pointer;
}

.postLikeCounter {
  font-size: 15px;
}

.postCommentText {
  cursor: pointer;
  font-size: 15px;
}

.postLastBox{
  display:grid;
  grid-template-columns: 10% 85%;
  gap:3%;
}
.postOwnImg{
  width: 50px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
}
.commentSection{
    border: 1px solid gray;
    width:98%;
    border-radius : 30px;
    padding-top: 10px;
}
.commentSection span {
  float: right;
  width:30%;
  height:100%;
}
.commentSection span img {
  float: right;
  margin-right: 5px;
}
.iconBig{
  font-size: 27px;
}
.text-center{
  font-weight: bold;
  font-size: 20px;
}
.postIcon{
  /* font-size: 2px; */
  height:3px;
  width:2px;
}
