.header{
    display: flex;
    padding: 7px 20px;
    justify-content: space-between;
    position: sticky;
    background-color: white;
    z-index: 100;
    top: 0;
    box-shadow: 0px 5px 8px -9px rgba(0, 0, 0, 0.75);
    
    
}
.header__left{
    display: flex;
    width: 30%;
        align-items: center;
}

.header__input{
    display: flex;
    align-items: center;
    background-color: #eff2f5;
    padding:8px;
    margin-left: 10px;
    border-radius: 999px;
}
.header__input > input{
    border: none;
    background-color: transparent;
    outline-width: 0;
    font-size: 14px;
    font-weight: 400;
    color: black;
    width: 200px;
}

.header__left  img{
    height: 40px;
}
.header__center{
    display: flex;
   
    justify-content: center;
       width: 50%;
}
.header__option > .MuiSvgIcon-root{
    color: gray;
}

.header__option:hover > .MuiSvgIcon-root{
    color: #2e81f4;
}
.header__option {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    cursor: pointer;
    width: 18%;
}
.header__option a{
    color: grey !important;
}

.header__option:hover {
    background-color: #eff2f5;
    border-radius: 10px;
    align-items: center;
    padding: 0 30px;
    border-bottom: none;
}

.header__option--active > .MuiSvgIcon-root{
    color: #2e81f4;
}

.header__option--active {
    border-bottom: 4px solid #2e81f4;
}

.header__info{
    display: flex;
    align-items: center;
    gap: 10px;
        margin-right: 20px;
}
.header__info > h4{
    margin-left: 10px;
}

.header__right{
    display: flex;
    justify-content: flex-end;
     width: 30%;
}

   .hover-underline-animation {
  display: inline-block;
  position: relative;
  color: black;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: black;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}