.story {
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 120px;
    height: 200px;
    box-shadow: 0px 5px 17px -7px rgba(0, 0, 0, 0.75);
    border-radius: 10px;
    margin-right: 10px;
    transition: transform 100ms ease-in;
    cursor: pointer;
    margin-top: 0;
  }
  
  .story:hover {
    transform: scale(1.05);
  }
  
  .story__avatar {
    margin: 10px;
    border: 5px solid #2e81f4;
  }

  .avatarbig{
    height: 15vh;
    
  }
  
  .story > h5 {
    position: absolute;
    bottom: 10px;
    left: 20px;
    color: white;
  }

  .storyBig {
    position: absolute;
    width: 90vw;
    height: 100vh;
    margin-left: 5vw;
    text-align: center;
    cursor: pointer;
    top: -3vh;
    overflow-x: hidden;
  }
  .storyBig::-webkit-scrollbar{
     width: 0;
  }
  .storyBig img{
    height: 100vh;
  }
  .statusLoading{
    background-color: white;
    z-index: 5;
  height: 0.3vw;
  position: relative;
  animation: loading 5s linear 0s 1;

  }
  @keyframes loading {
    0%   {width: 0vw;}
  100% {width: 100vw }

  }