/** @format */
.sidebar2 {
  height: 85vh;
  min-height: 800px;
  overflow: auto;
  position: -webkit-sticky;
  position: sticky;
  top: 1%;
}

.profileCoverImg {
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.edit-button {
  background-color: rgb(230, 230, 230);
  border: 1px solid rgb(230, 230, 230);
  color: black;
}
.edit-cover-btn {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 86px;
  margin-bottom: 30px;
}
.shareProfileImg2 {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid white;
  object-fit: cover;
  margin-right: -13px;
}

.shadowLg {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px !important;
}
.nav-link {
  font-size: 17px;
  font-weight: 600;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
  padding-bottom: 20px;
}
.nav-link:hover {
  color: #1877f2 !important;
  border-bottom: 3px solid #1877f2;
}
.nav-link.active {
  color: #1877f2 !important;
  border-bottom: 3px solid #1877f2;
}
.profileUserImg2 {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  bottom: 0;
  margin-top: 200px;
  top: 150px;
  border: 4px solid white;
}

.profileInfo {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profileInfoName {
  font-size: 28px;
}

.profileInfoDesc {
  font-weight: 500;
  color: grey;
}

.profileRightBottom {
  display: flex;
}
