.mainDiv{
    height: 500px;
    width: 100%;
    background-color: #e9ebee;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.formDiv{
    /* border: 1.5px dashed red; */
    height: 300px;
    width: 38%;
    
    /* margin:  auto; */
    background-color: white;
    border-radius: 7px;
    /* margin-top: 50px; */
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.sameHeight{
    height: 18%;
}

.middleDiv{
    /* border: 1px solid black; */
    height: 40%;
    padding: 0 20px;
}
.middleDiv p{
    font-size: 20px;
    line-height: 24px;
}
.middleDiv input{
    margin-top: 0px;
    height: 50px;
    width: 100%;
    border-radius: 5px;
    font-size: 20px;
    padding-left: 10px;
}
.topDiv{
    padding:20px;
}
.btnDiv{
    display: flex;
    /* border: 1px solid 
    red; */
    width: 30%;
    height: 40px;
    margin-left: 67%;
    justify-content: space-between;
}
.btnDiv button{
    width: 47%;
    border-radius: 5px;
    font-weight: 600;
    /* text-decoration: none; */
    border: transparent;
}
.cBtn{
    
    color: black;
}
.sBtn{
    color: white;
    background-color: #1775ee;
}